# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# pycache files
*.pyc
*.npy

# images
*.png

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.cache/
build*/
/__pycache__/
examples/ocp_centroidal/__pycache__/go2_utils.cpython-311.pyc
examples/ocp_centroidal/__pycache__/go2_utils.cpython-311.pyc
examples/ocp_centroidal/__pycache__/go2centrOPC.cpython-311.pyc
examples/qptorques.npy
examples/qptorques.npy
